body {
  background-image: url(/Images/backgroundimage.jpg);
  background-position: center; 
  background-size: cover;
}

.input {
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin-left: auto;
  margin-right: auto;
}