body{
  background-image: url('1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }